In [1]:
from tests.statistics import Statistics
import random

In [2]:
statistics = Statistics()

In [3]:
names = ('endpoint1', 'endpoint2', 'endpoint3')
codes = ('200', '400', '422')
time = (0.15, 0.45, 1.2, 1.4, 5.1)
frequency = ('100', '1', '1000', '10000')

for i in range(1000):
    el = (random.choice(x) for x in (names, frequency, codes, time))
    statistics.add(random.choice(names), random.choice(frequency), random.choice(codes), random.choice(time))

In [4]:
statistics.get_mean_response_time_for_each_frequency_for_each_endpoint_name()

     endpoint frequency  mean_response_time
0   endpoint3         1            1.650625
1   endpoint3       100            1.847778
2   endpoint3      1000            1.467308
3   endpoint3     10000            1.533333
4   endpoint1         1            1.705488
5   endpoint1       100            1.488095
6   endpoint1      1000            1.658929
7   endpoint1     10000            1.579891
8   endpoint2         1            1.669277
9   endpoint2       100            1.525301
10  endpoint2      1000            1.617284
11  endpoint2     10000            1.443293

In [5]:
statistics.get_codes_count_for_each_frequency_for_each_endpoint_name()

     endpoint frequency code  code_count
0   endpoint3         1  400          31
1   endpoint3         1  422          25
2   endpoint3         1  200          24
3   endpoint3     10000  200          29
4   endpoint3     10000  400          29
5   endpoint3     10000  422          23
6   endpoint3       100  422          32
7   endpoint3       100  400          31
8   endpoint3       100  200          27
9   endpoint3      1000  422          35
10  endpoint3      1000  400          26
11  endpoint3      1000  200          17
12  endpoint1         1  400          36
13  endpoint1         1  200          24
14  endpoint1         1  422          22
15  endpoint1     10000  422          34
16  endpoint1     10000  400          30
17  endpoint1     10000  200          28
18  endpoint1       100  400          34
19  endpoint1       100  422          27
20  endpoint1       100  200          23
21  endpoint1      1000  422          34
22  endpoint1      1000  200          27
23  endpoint1      1000  400          23
24  endpoint2         1  400          31
25  endpoint2         1  200          29
26  endpoint2         1  422          23
27  endpoint2     10000  422          33
28  endpoint2     10000  400          26
29  endpoint2     10000  200          23
30  endpoint2       100  422          36
31  endpoint2       100  200          29
32  endpoint2       100  400          18
33  endpoint2      1000  200          32
34  endpoint2      1000  400          27
35  endpoint2      1000  422          22

In [6]:
statistics.save_all_to_csv('files')